

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}
.full-width {
  height: 46px;
  width: 100%;
  background-color: darkblue;
}

.header {
  width: 100%;
  height: 240px;
}
.header-one {
  width: 90%;
  height: 70px;
  margin-top: 20px;
  margin-left: 55px;
  position: relative;
}

.header-two {
  width: 90%;
  height: 100px;
  margin-top: 20px;
  margin-left: 55px;

}

label,
img,
button,
input {
  margin-left: 10px;
}


